* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',Montserrat,sans-serif;
    font-size: 18px;
    display: flex;
}

p {
    padding: 2rem;
    line-height: 1.6;
}

main {
    margin: 0 auto;
    width:100%;
    padding: 20px;
    background-color: #ccc;
}

.Card {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    box-shadow:1px 1px 10px rgba(255,0,0,0.5);
    border-radius:5px;

    /*Containe size unit*/
    width:50cqw;/* Same as vw. here w.r.t the container*/
}

    .Card h2 {
        margin-bottom:0.5rem;
    }